body{
    font-family: 'Roboto Slab', serif;
    background-color: #f2ece4;
    font-size: 1rem;
    /*height: 100vh;*/
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 1.5rem 0;
    /*height: 100vh;*/
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 0;
}

section {
    /*margin-bottom: 4rem;*/
}

.atividade {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
}

.pesquisa {
    height: 5rem;
    width: auto;
}

.mais {
    height: 5rem;
    width: auto;
}

.proximo-evento {
    height: 10rem;
    width: auto;
    margin: 0.5rem;
}

.eventos-destaque {
    height: 5rem;
    width: auto;
}

.atividades-action {
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 0 0.25rem;
    /*margin: 1.2rem;*/
}

.lista-atividades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.5rem;
}

.next-evento {
    background-color: #ffffff;
    border-radius: 1rem;
}

.evento-org {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    
    /* background-color: #ffffff;
    margin-top: 2rem;
    border-radius: 1rem; */
}

.eventos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.evento {
    margin: 0.3rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.parag {
    margin-left: 1rem;
}