h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    text-align: center;
    margin: 1rem
}


fieldset {
    width: 60%;
    margin: 0px auto;
    margin-bottom: 1rem;
}

#idade {
    position: relative;
    margin-bottom: 1rem;
    left: 50%;
    margin-left: -4.03125rem;
}

#match {
    position: relative;
    font-size: 18px;
    padding: 0.5rem 1rem;
    background-color: blue;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    left: 50%;
    margin-left: -4.97rem;
    margin-top: 2rem;
}

.footer-bar {
    position: fixed;
    background-color: blue;
    bottom: 0;
    width: 100%;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-items img {
    width: 50px;
}