body{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
}

.header-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-logo{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-menu li{
    margin: 0.5rem;
    padding: 0.5rem;
}

.header-menu li:active{
    background-color:darkblue;
}

.header-menu li a{
    text-decoration: none;
    color: white;
}

.footer-bar {
    position: fixed;
    background-color: blue;
    bottom: 0;
    width: 100%;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-items img {
    width: 50px;
}