body{
    font-family: 'Roboto Slab', serif;
    background-color: #f2ece4;
    font-size: 1rem;
    padding-top: 4rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;
    /*height: 100vh;*/
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.novos-amigos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin: 0.5rem;*/
    padding: 1rem 0;
    /*border: 1px solid black;*/
    line-height: 1.25;
}

.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    line-height: 1.2;
    border-bottom: 2px solid #8c8070;
    padding: 1rem 0;
    background-color: white;
}

.foto {
    height: 5rem;
    width: auto;
    margin: 0.5rem;
    margin-right: 1.5rem;
}

.foto-amigos {
    height: 5rem;
    width: auto;
    margin: 0 0.5rem;
}

h2{
    /*margin-top: 0.5rem;*/
    margin-bottom: 0.7rem;
    color: #8c8070;
}

h3{
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #8c8070;
}