body{
    font-family: 'Roboto Slab', serif;
    background-color: #f2ece4;
    font-size: 1rem;
    height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elemento{
    background-color: #ffffff;
    border-radius: 1rem;
}
.buscar {
    font-size: 1.5rem;
    font-weight:500;
}
.selecao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.masc-fem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.form {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao-buscar {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    background-color: #ffffff;
}
li {
    margin: 1rem;
}
li.elemento {
    margin-top: 4rem;
}
label {
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    display: inline-block;
    border-radius: 2rem;
    background-color: #f2ece4;
    border: 0.25rem solid #000000;
    height: 0.4rem;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #000000;
    border-radius: 50%;
    
}

.gen, .esc-gen {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.dist, .id {
    margin: 1rem;
}