body{
    background-color: #f2ece4;
}

main{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    color: #8c8070;
    font-weight: bold;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.img-match{
    width: 12rem;
    height: auto;
    border-radius: 6rem;
    /*margin: 1rem;*/
}

.items-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.items-group li{
    margin: 0.5rem 0.5rem;
}

.items-group button{
    line-height: 0;
    background-color: #ffffff;
    border: 0px solid #0388a6;
    border-radius: 3rem;
    padding: 0.5rem;
}

#interesses li{
    border: 2px solid #8c8070;
    color: #8c8070;
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.media-icon{
    width: 2rem;
    height: auto;
}
.home {
    height: 3rem;
    width: auto;
}
.footer-nav {
    justify-content: space-evenly;
}

#pagina-inicial{
    border: 1px solid #8c8070;
    color: #8c8070;
}