@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: #f2ece4;
    font-size: 1rem;
}

main{
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Hind Vadodara', sans-serif;
}

.y-div{
    display: flex;
    flex-direction: column;
}

.x-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

footer{
    position: fixed;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-nav li{
    margin: 0 0.5rem;
    border: 1px solid black;
    border-radius: 5rem;
    padding: 0.5rem;
}

.footer-link-icon{
    width: 4rem;
    height: auto;
}